{% extends "AcmeDemoBundle::base.html.twig" %}

{% block head %}
    
    {% block head_meta %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
    {% endblock %}
    
    {% block head_link %}
        <link rel="shortcut icon" href="{{ asset('bundles/acmedemo/images/ca/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('bundles/acmedemo/images/ca/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/acmedemo/images/ca/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/acmedemo/images/ca/apple-touch-icon-72x72.png') }}">
        <link rel="icon" sizes="16x16" href="{{ asset('bundles/acmedemo/images/ca/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmedemo/css/ca/main.css') }}">
        
        <!--[if lte IE 9]>
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/ca/ie.css') }}"/>
        <![endif]-->
    {% endblock %}
    
    {% block script_nav %}
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/ca/header.js') }}"></script>
    {% endblock %}

{% endblock %}

{% block title 'CA Bundle' %}

{% block body %}
<div id="fb-root"></div>

<div class="letterbox ">
    <div class="viewport" data-broadcast="channel:my-gumtree,method:deactivate,preventDefaultEvent:false">
        <div class="viewport-mask" data-broadcast="[{channel:refine-panel,method:deactivate},{channel:side-menu,method:deactivate}]"></div>    
    {% block content_notif %}{% endblock %}
    
    {% block content_header %}{% endblock %}
    
    {% block content_nav %}{% endblock %}
    
    {% block content %}{% endblock %}
    
    {% block content_footer %}{% endblock %}    
    </div>
</div>
<script>
    Gum.domain = {
        buyer: "http://classifieds.local"
    };
</script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/ca/gumtree.js') }}"></script>
{% endblock %}
